* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

$icon-sizes: 22, 24;

.icon {
  display: inline-block;
  aspect-ratio: 1;

  @each $s in $icon-sizes {
    &--#{$s} {
      width: #{$s}px;
    }
  }
}

.screen {
  position: relative;
  min-height: 100dvh;
  background-image: linear-gradient(
      103deg,
      transparent 60%,
      rgba(242, 200, 21, 0.85) 60%
    ),
    url("/src/img/background.avif"), linear-gradient(#e7e6e2, #846950);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    column-gap: 15px;
    justify-content: space-between;
    padding: 34px;
  }

  &__nav-btn {
    padding: 5px;
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    transition: color 300ms ease;

    @media (hover: hover) {
      cursor: pointer;

      &:hover {
        color: #000;
      }
    }
  }

  &__content {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
    align-items: flex-end;
    padding: 34px 34px 34px 0;
  }

  &__content-link {
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    transition: color ease 300ms;

    @media (hover: hover) {
      &:hover {
        color: #fff;
      }
    }
  }

  &__desc {
    max-width: 480px;
    display: flex;
    text-align: end;
    flex-direction: column;
    row-gap: 10px;

    @media (width <= 768px) {
      max-width: 320px;
    }
  }

  &__title {
    font-size: clamp(44px, 8vw, 84px);
  }

  &__text {
    font-size: clamp(28px, 8vw, 50px);
  }

  &__views {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }
}
